@import "../components/bootstrap/less/bootstrap.less";

@brand-success-light: #E0FBE0;

body {
  margin: 20px 0px;
}

.gen-mys_f__container(@max-width) {
  .mys_f__container {
    max-width: @max-width;
  }
}
.mys_f__container {
  border-left: 2px solid  @gray-lighter;
}

.mys_f__products-wrapper {
  padding-top: 10px;
}
.mys_f__products-sortByContent > *:not(:first-child) {
  margin-left: 5px;
}
.mys_f__products-sortBy-actionbtn {
  color: @brand-primary;
}

.mys_f__basket.mys_is__basket-smallView-extend {
  bottom: 0px;
}
.mys_f__basket-products {
  border: 2px solid @gray-lighter;
  background-color: white;
}
.gen-mys_f__product(@width) {
  .mys_f__product {
    width: @width;
  }
}
.mys_f__product {
  height:  450px;
}
.mys_f__product-info {
  padding: 10px;
  position: relative;
  height:59%;
  border-top: 2px solid  @gray-lighter;
  border-right: 2px solid  @gray-lighter;
  border-bottom: 2px solid  @gray-lighter;
}
.mys_f__product-img {
  height: 39%;
}
.mys_f__product-info-name {
  height: 20%;
}
.mys_f__product-info-promReward {
  color: @brand-danger;
  margin-top: 30px;
}
.mys_f__product-info-promEcoupon {
  position: absolute;
  bottom: 0px;
  left: 29%;
}
.mys_f__product-order {
  padding: 10px;
  height:33%;
  border-right: 2px solid  @gray-lighter;
  border-bottom: 2px solid  @gray-lighter;
}
.mys_f__product-order.mys_is__product-orderInBasket {
  background-color: @brand-success-light;
}
.mys_f__product-order-detailLabel {
  margin-left: 25px;
}
.mys_f__product-order-detailLabel small {
  font-size: 75%;
}
.mys_f__product-order-detailQtybtn span{
  color: @brand-primary;
}
.mys_f__product-order-detailQtyinput {
  width: 30px;
  height: 21px;
}

.mys_f__product-inBasket {
  height: 8%;
}
.mys_f__product-inBasket-content {
  background-color: @brand-success;
  color: white;
  height: 100%;
  padding: 9px;
}
.gen-mys_f__basket(@top, @right, @bottom, @left, @width, @height) {
  .mys_f__basket {
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
    width: @width;
    height: @height;
  }
}
.mys_f__basket {
  position: fixed;
  border: 1px solid @gray-lighter;
}
.gen-mys_f__basket-header(@width, @arrow-margin-left) {
  .mys_f__basket-products {
    margin-top: 36px;
  }
  .mys_f__basket-header {
    width: 100%;
  }
  .mys_f__basket.mys_is__basket-smallView-extend {
    overflow-y: auto;
  }
  .mys_f__basket.mys_is__basket-smallView-extend .mys_f__basket-header {
    position: fixed;
    bottom: 93px;
    width: @width;
  }
  .mys_f__basket-headerUpArrow {
    margin-left: @arrow-margin-left;
    display: inline;
  }
  .mys_is__basket-smallView-extend .mys_f__basket-headerUpArrow {
    display: none;
  }
  .mys_is__basket-smallView-extend .mys_f__basket-headerDownArrow {
    margin-left: @arrow-margin-left;
    display: inline;
  }
}
.mys_f__basket-header {
  background-color: @brand-primary;
  color: white;
  padding: 5px;
  height: 36px;
}
.mys_f__basket-headerBasket {
  padding: 2px 4px;
}
.mys_f__basket-headerUpArrow {
  display: none;
}
.mys_f__basket-headerDownArrow {
  display: none;
}
.mys_f__basket-headerBasketQty {
  padding: 2px 0px;
}
.mys_f__basket-headerItem {
  padding: 2px;
}

.mys_f__basket-product {
  border-bottom: 2px solid @gray-lighter;
}
.mys_f__basket-product-info {
  padding: 5px;
  height:60%;
}
.mys_f__basket-product-infoImg {
  width: 40px;
  height: 40px;
}
.mys_f__basket-product-infoName {
  font-size: 12px;
  width: 52%;
  padding: 0;
  line-height: 1;
}
.mys_f__basket-product-infoClose {
  color: @brand-primary;
}
.mys_f__basket-product-order {
  padding: 5px;
  height: 40%;
}

//////////////////////
@mys-xxs-product-width:               100%;
@mys-xxs-basket-left:                 0px;
@mys-xxs-basket-width:                100%;
@mys-xss-basket-header-width:         100%;
@mys-xss-arrow-margin-left:           23%;

//////////////////////
@mys-xs-product-width:                50%;
@mys-xs-arrow-margin-left:            13%;

//////////////////////
@mys-xxsxssm-entry-width:             100%;
@mys-sm-product-width:                33%;
@mys-xxsxssm-basket-top:              '';
@mys-xxsxssm-basket-right:            '';
@mys-xxsxssm-basket-bottom:           -93px;
@mys-xssm-basket-left:                10px;
@mys-xssm-basket-width:               60%;
@mys-xxsxssm-basket-height:           130px;
@mys-xssm-basket-header-width:        60%;
@mys-sm-arrow-margin-left:            27%;

//////////////////////
@mys-md-entry-width:                  71%;
@mys-md-product-width:                169px;
@mys-md-basket-width:                 200px;

//////////////////////
@mys-lg-entry-width:                  77%;
@mys-lg-product-width:                180px;

//////////////////////
@mys-xlg-entry-width:                  79%;
@mys-xlg-product-width:                179px;
@mys-mdlgxlg-basket-top:               50px;
@mys-mdlgxlg-basket-right:             60px;
@mys-mdlgxlg-basket-bottom:            '';
@mys-mdlgxlg-basket-left:              '';
@mys-mdlgxlg-basket-width:             220px;
@mys-mdlgxlg-basket-height:            80%;

@screen-xxs: 330px;

@media (max-width: @screen-xxs) {
  .gen-mys_f__container(@mys-xxsxssm-entry-width);
  .gen-mys_f__product(@mys-xxs-product-width);
  .gen-mys_f__basket(@mys-xxsxssm-basket-top, @mys-xxsxssm-basket-right, @mys-xxsxssm-basket-bottom, @mys-xxs-basket-left, @mys-xxs-basket-width, @mys-xxsxssm-basket-height);
  .gen-mys_f__basket-header(@mys-xss-basket-header-width, @mys-xss-arrow-margin-left);
}
@media (min-width: @screen-xxs) and (max-width: @screen-xs) {
  .gen-mys_f__container(@mys-xxsxssm-entry-width);
  .gen-mys_f__product(@mys-xs-product-width);
  .gen-mys_f__basket(@mys-xxsxssm-basket-top, @mys-xxsxssm-basket-right, @mys-xxsxssm-basket-bottom, @mys-xssm-basket-left, @mys-xssm-basket-width, @mys-xxsxssm-basket-height);
  .gen-mys_f__basket-header(@mys-xssm-basket-header-width, @mys-xs-arrow-margin-left);
}
@media (min-width: @screen-xs) and (max-width: @screen-sm) {
  .gen-mys_f__container(@mys-xxsxssm-entry-width);
  .gen-mys_f__product(@mys-sm-product-width);
  .gen-mys_f__basket(@mys-xxsxssm-basket-top, @mys-xxsxssm-basket-right, @mys-xxsxssm-basket-bottom, @mys-xssm-basket-left, @mys-xssm-basket-width, @mys-xxsxssm-basket-height);
  .gen-mys_f__basket-header(@mys-xssm-basket-header-width, @mys-sm-arrow-margin-left);
}
@media (min-width: @screen-sm) and (max-width: @screen-md) {
  .gen-mys_f__container(@mys-md-entry-width);
  .gen-mys_f__product(@mys-md-product-width);
  .gen-mys_f__basket(@mys-mdlgxlg-basket-top, @mys-mdlgxlg-basket-right, @mys-mdlgxlg-basket-bottom, @mys-mdlgxlg-basket-left, @mys-md-basket-width, @mys-mdlgxlg-basket-height);
}
@media (min-width: @screen-md) and (max-width: @screen-lg) {
  .gen-mys_f__container(@mys-lg-entry-width);
  .gen-mys_f__product(@mys-lg-product-width);
  .gen-mys_f__basket(@mys-mdlgxlg-basket-top, @mys-mdlgxlg-basket-right, @mys-mdlgxlg-basket-bottom, @mys-mdlgxlg-basket-left, @mys-mdlgxlg-basket-width, @mys-mdlgxlg-basket-height);
}
@media (min-width: @screen-lg) {
  .gen-mys_f__container(@mys-xlg-entry-width);
  .gen-mys_f__product(@mys-xlg-product-width);
  .gen-mys_f__basket(@mys-mdlgxlg-basket-top, @mys-mdlgxlg-basket-right, @mys-mdlgxlg-basket-bottom, @mys-mdlgxlg-basket-left, @mys-mdlgxlg-basket-width, @mys-mdlgxlg-basket-height);
}