@import "../components/bootstrap/less/bootstrap.less";

@brand-success-light: #E0FBE0;

body {
  margin: 20px 0px;
}

.mys_f__container {
  border-left: 2px solid  @gray-lighter;
}

.mys_f__products-wrapper {
  padding-top: 10px;
}

.mys_f__products-sortByContent > *:not(:first-child) {
  margin-left: 5px;
}
.mys_f__products-sortBy-actionbtn {
  color: @brand-primary;
}

@media (max-width: 330px) {
  .mys_f__container {
    max-width: 100%;
  }
  .mys_f__product {
    width: 100%;
    height: 450px;
  }
  .mys_f__basket {
    position: fixed;
    bottom: -93px;
    left: 0px;
    width: 100%;
    border: 1px solid @gray-lighter;
    height: 130px;
  }
  .mys_f__basket-products {
    margin-top: 36px;
  }
  .mys_f__basket-header {
    width: 100%;
  }
  .mys_f__basket.mys_is__basket-smallView-extend {
    overflow-y: auto;
  }
  .mys_f__basket.mys_is__basket-smallView-extend .mys_f__basket-header {
    position: fixed;
    bottom: 93px;
    width: 100%;
   }
}

@media (min-width: 330px) and (max-width: @screen-xs) {
  .mys_f__container {
    max-width: 100%;
  }
  .mys_f__product {
    width: 50%;
    height: 450px;
  }
  .mys_f__basket {
    position: fixed;
    bottom: -93px;
    left: 10px;
    width: 60%;
    border: 1px solid @gray-lighter;
    height: 130px;
  }
  .mys_f__basket-products {
    margin-top: 36px;
  }
  .mys_f__basket-header {
    width: 100%;
  }
  .mys_f__basket.mys_is__basket-smallView-extend {
    overflow-y: auto;
  }
  .mys_f__basket.mys_is__basket-smallView-extend .mys_f__basket-header {
    position: fixed;
    bottom: 93px;
    width: 60%;
   }
}

@media (min-width: @screen-xs) and (max-width: @screen-sm) {
  .mys_f__container {
    max-width: 100%;
  }
  .mys_f__product {
    width: 33%;
    height: 450px;
  }
  .mys_f__basket {
    position: fixed;
    bottom: -93px;
    left: 10px;
    width: 60%;
    border: 1px solid @gray-lighter;
    height: 130px; 
  }
  .mys_f__basket-products {
    margin-top: 36px;
  }
  .mys_f__basket-header {
    width: 100%;
  }
  .mys_f__basket.mys_is__basket-smallView-extend {
    overflow-y: auto;
  }
  .mys_f__basket.mys_is__basket-smallView-extend .mys_f__basket-header {
    position: fixed;
    bottom: 93px;
    width: 60%;
   }
}

@media (min-width: @screen-sm) and (max-width: @screen-md) {
  .mys_f__container {
    max-width: 71%;
  }
  .mys_f__product {
    max-width: 169px;
    height: 450px;
  }
  .mys_f__basket {
    position: fixed;
    right:60px;
    top:50px;
    width: 200px;
    border: 1px solid @gray-lighter;
    height: 80%;
  }
}

@media (min-width: @screen-md) and (max-width: @screen-lg) {
  .mys_f__container {
    max-width: 77%;
  }
  .mys_f__product {
    max-width: 180px;
    height: 450px;
  }
  .mys_f__basket {
    position: fixed;
    right:60px;
    top:50px;
    width: 220px;
    border: 1px solid @gray-lighter;
    height: 80%;
  }
}

@media (min-width: @screen-lg) {
  .mys_f__container {
    max-width: 79%;
  }
  .mys_f__product {
    max-width: 179px;
    height: 450px;
  }
  .mys_f__basket {
    position: fixed;
    right:60px;
    top:50px;
    width: 220px;
    border: 1px solid @gray-lighter;
    height: 80%;
  }
}

.mys_f__basket.mys_is__basket-smallView-extend {
  bottom: 0px;
}

.mys_f__basket-products {
  border: 2px solid @gray-lighter;
  background-color: white;
}
.mys_f__product-info {
  padding: 10px;
  position: relative;
  height:59%;
  border-top: 2px solid  @gray-lighter;
  border-right: 2px solid  @gray-lighter;
  border-bottom: 2px solid  @gray-lighter;
}
.mys_f__product-info-promReward {
  color: @brand-danger;
  margin-top: 30px;
}
.mys_f__product-info-promEcoupon {
  position: absolute;
  bottom: 0px;
  left: 29%;
}
.mys_f__product-order {
  padding: 10px;
  height:33%;
  border-right: 2px solid  @gray-lighter;
  border-bottom: 2px solid  @gray-lighter;
}
.mys_f__product-order.mys_is__product-orderInBasket {
  background-color: @brand-success-light;
}
.mys_f__product-order-detailLabel {
  margin-left: 25px;
}
.mys_f__product-order-detailLabel small {
  font-size: 75%;
}
.mys_f__product-order-detailQtybtn span{
  color: @brand-primary;
}
.mys_f__product-order-detailQtyinput {
  width: 30px;
  height: 22px;
}
.mys_f__product-inBasket {
  height: 8%;
}
.mys_f__product-inBasket-content {
  background-color: @brand-success;
  color: white;
  height: 100%;
  padding: 9px;
}
.mys_f__basket-header {
  background-color: @brand-primary;
  color: white;
  padding: 5px;
  height: 36px;
}
/*.mys_f__basket-header {
  background-color: @brand-primary;
  color: white;
  padding: 5px;
  height: 36px;
}*/
.mys_f__basket-headerBasket {
  padding: 2px 4px;
}
.mys_f__basket-headerBasketQty {
  padding: 2px 0px;
}
.mys_f__basket-headerItem {
  padding: 2px;
}

.mys_f__basket-product {
  border-bottom: 2px solid @gray-lighter;
}
.mys_f__basket-product-info {
  padding: 5px;
  height:60%;
}
.mys_f__basket-product-infoImg {
  width: 40px;
  height: 40px;
}
.mys_f__basket-product-infoName {
  font-size: 12px;
  width: 52%;
  padding: 0;
  line-height: 1;
}
.mys_f__basket-product-infoClose {
  color: @brand-primary;
}
.mys_f__basket-product-order {
  padding: 5px;
  height: 40%;
}