<% var COLLAPSE_CHAR_LENGTH = 37; %>

<div class="mys_f__basket-product-info clearfix">
  <img src="<%= model.image %>" alt="..." class="img-rounded mys_f__basket-product-infoImg pull-left">

  <% var name = model.name.length > COLLAPSE_CHAR_LENGTH ? model.name.substr(0, COLLAPSE_CHAR_LENGTH) + '...' : model.name;
    var halfLen = name.length/2;
  %>
  <a href="#" class="mys_f__basket-product-infoName btn btn-link pull-left">
    <%= [
          $.trim(name.substring(0, halfLen)), 
          $.trim(name.substring(halfLen))
        ].join('<br>')  
      %>
  </a>

  <button type="button" class="mys_js__basket-product-infoClose mys_f__basket-product-infoClose btn btn-default btn-xs pull-right">
    <b>X</b>
  </button>
</div>

<div class="mys_f__basket-product-order clearfix">

  <div class="clearfix pull-left" role="group" aria-label="...">
      <button type="button" class="mys_js__product-order-detailQtyMinusbtn mys_f__product-order-detailQtybtn btn btn-default btn-xs pull-left">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
      <input type="number" class="mys_js__product-order-detailQtyinput mys_f__product-order-detailQtyinput pull-left" min="1">
      <button type="button" class="mys_js__product-order-detailQtyPlusbtn mys_f__product-order-detailQtybtn btn btn-default btn-xs pull-left">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
  </div>

  <span class="mys_f__product-order-priceItem pull-right">
    <strong>£
      <span class="mys_js__basket-product-orderPrice"></span>
    </strong>
  </span>

</div>